nav {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.623);
  z-index: 1;
  top: 0;
  left: 0;
}

.main {
  position: absolute;
  padding-left: 4rem;
  padding-right: 1.5rem;
  height: 100%;
  width: 24rem;
  background-color: white;
}

button {
  text-align: center;
}

button {
  background-color: rgb(230, 48, 25);
  color: white;
  border: none;
  width: 100%;
  height: 2.5rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
}

.main ul {
  margin: 2rem 0;
}

.main ul li {
  list-style: none;
  margin: 1rem 0;
  font-weight: bold;
  color: rgb(12, 60, 108);
  cursor: pointer;
}

.main ul li:hover {
  text-decoration: underline;
}

.x {
    position: absolute;
    top: -0.5rem;
    right: 0.5rem;
    font-size: 2rem;
}