.header {
    height: 4rem;
    background: rgb(12,60,108);
    position: relative;
    display: flex;
}

.hamburger {
    margin-left: 1rem;
    color: white;
    font-size: 2rem;
}

.logo {
    color: white;
    font-size: 1.7rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
