.button {
  color: #70ddff;
  background-color: transparent;
  border: #70ddff solid 0.1em;
  padding: 1em;
  border-radius: 1.8em;
  cursor: pointer;
  font-size: 1em;
}

.button:hover {
  background-color: #b9edfd;
  color: rgb(29, 29, 29);
}
