.container {
    color: rgb(12,60,108);
    position: relative;
}

.question {
    display: flex;
    padding: 0 1rem;
    cursor: pointer;
}

.question .arrow {
    width: 2rem;
}


.answer {
    margin: 0 3rem;
}

.border {
    border-top: 0.1rem solid rgb(199, 193, 193);
    height: 1rem;
    margin: 1rem 1rem;
}