.header {
  width: 1440px;
  height: 139.66px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 52px 110.38px;
  background-color: #1e1e1e;
  color: white;
}

.logo {
  color: #70ddff;
}

.nav {
  display: flex;
}

.nav li {
  list-style: none;
  padding: 0 25px;
  height: 54px;
  letter-spacing: 1px;
}

.button {
  background-color: #70ddff;
  color: #1e1e1e;
  width: 93px;
  height: 54px;
  border-radius: 1.8rem;
  align-self: center;
  transform: translateY(-5px);
}

@media screen and (max-width: 1000px) {
  .header {
    width: 100%;
    height: 56px;
    padding: 0;
  }

  .logo {
  }

  .header ul {
    display: none;
  }
}
