.containerOne {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

.advert {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  border-radius: 5px;
}

.aboveForm {
  color: white;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 0.1rem;
  border-radius: 0.5rem;
  height: 225px;
  width: 350px;
  padding: 2rem;
  margin-top: 2rem;
  background-color: white;
}

.options {
  align-self: center;
  display: flex;
}

.options > div {
  border: solid black 0.1em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input {
  height: 2rem;
  padding: 0.5rem;
  border: rgb(212, 212, 212) solid 0.1em;
}

.form button {
  height: 2rem;
  background-color: #70ddff;
  border: none;
  cursor: pointer;
  color: black;
}

.belowForm {
  color: white;
  display: flex;
  font-size: 0.9rem;
  width: 450px;
  justify-content: space-between;
  margin-top: 1rem;
}

.belowForm > p > span {
  cursor: pointer;
  color: #70ddff;
}

@media (min-width: 768px) {
  .advert {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .advertContainer > h2 {
    color: #70ddff;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    position: relative;
  }

  .advertContainer > h2 > h3 {
    font-size: 2rem;
    position: absolute;
    top: -50%;
    left: 15%;
    color: black;
    text-shadow: none;
  }
}
