.front {
  background-image: linear-gradient(
      to right bottom,
      rgba(180, 201, 176, 0.801),
      #42554f
    ),
    url("../../images/happy-nurse.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  width: auto;
  height: 25rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  text-align: center;
  color: white;
  top: -1rem;
  overflow: hidden;
  cursor: default;
}

.title h1 {
  display: flex;
  flex-direction: column;
  animation-name: fadeIn;
  animation-duration: 3s;
}

.title h1 span:first-child {
  font-size: 1.6rem;
  letter-spacing: .7rem;
}

.title h1 span:last-child {
  font-size: 1rem;
  letter-spacing: .5rem;
  font-style: italic;
}

.card {
  position:relative;
  padding: .6rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: whitesmoke;
  width: max-content;
  height: max-content;
  top: 1rem;
}

.card h2 {
  text-align: center;
  cursor: default;
}

.text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 5px;
  border-radius: 5px;
  border-width: 1px;
  height: 1.7rem;
  width: 14rem;
  padding: 3px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px)
  }
  60% {
    transform: translateY(1px)
  }
  100% {
    opacity: 1;
    transform: translate(0)
  }
}

