nav {
  display: flex;
  padding: 1em 1em;
  background-color: #1e1e1e;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
}

.hamburger:hover {
  background-color: #70deff69;
}

.hamburger div {
  width: 2em;
  height: 0.1em;
  background-color: #ffffff;
  margin: 0.5em 0.3em;
}

.logo {
  width: 6em;
  height: 2em;
  margin-left: 0.7em;
}

.options {
  display: flex;
  align-items: center;
  gap: 3em;
}

.options p {
  display: none;
  color: white;
}

@media (min-width: 60em) {
  nav {
    padding: 2em 5em;
  }

  .hamburger {
    display: none;
  }

  .options p {
    display: flex;
  }
}
