.container {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #1e1e1e;
}

nav {
  display: flex;
  padding: 0.5em 1em;
  background-color: #1e1e1e;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
}

.hamburger:hover {
  background-color: #70deff69;
  cursor: pointer;
}

.hamburger div {
  width: 1.5em;
  height: 0.01em;
  background-color: #ffffff;
  margin: 0.5em 0.3em;
}

.logo {
  width: 6em;
  height: 2em;
  margin-left: 0.7em;
}

.options {
  display: flex;
  align-items: center;
  gap: 3em;
}

.options p {
  display: none;
  color: white;
  width: max-content;
}

@media (min-width: 1440px) {
  .container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  nav {
    width: 1220px;
    height: 140px;
    padding: 0.5em 0;
  }

  .hamburger {
    display: none;
  }

  .logo {
    margin-left: 0;
  }

  .options p {
    display: flex;
  }

  .options p:hover {
    transform: scale(1.1);
  }
}

/* 
mobile min: 16pt
mobile padding: 16px or 24px
*/
