nav {
  position: sticky;
  top: 0;
  display: flex;
  padding: 0.5em 1em;
  background-color: #1e1e1e;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.left {
  display: flex;
}

.hamburger:hover {
  background-color: #70deff69;
  cursor: pointer;
}

.hamburger div {
  width: 1.5em;
  height: 0.01em;
  background-color: #ffffff;
  margin: 0.5em 0.3em;
}

.logo {
  width: 6em;
  height: 2em;
  margin-left: 0.7em;
}

.options {
  display: flex;
  align-items: center;
  gap: 3em;
}

.options p {
  display: none;
  color: white;
  width: max-content;
}

@media (min-width: 65em) {
  nav {
    padding: 2em 9em;
  }

  .hamburger {
    display: none;
  }

  .options p {
    display: flex;
  }

  .options p:hover {
    transform: scale(1.1);
  }
}


/* 
mobile min: 16pt
mobile padding: 16px or 24px
*/