.sidebar {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  display: none;
}

.red {
  display: flex;
  animation-name: reds;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes reds {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.top {
  color: #70ddff;
  display: flex;
  justify-content: space-between;
}

.top p {
  font-size: 3em;
  cursor: pointer;
  line-height: 0.8em;
  color: white;
}

.options {
  width: 80vw;
  height: 100%;
  color: white;
  background-color: #1e1e1e;
  padding: 1em;
}

.options > p {
  margin: 0.5em 0;
  padding-left: 0.5em;
  transition: 0.3s;
}

.options > p:hover {
  color: #70ddff;
  background-color: #363636;
}

/* .options p:first-of-type {
  margin-top: 0;
} */

.exit {
  width: 20vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.336);
}
