.container {
    background-color: rgb(238, 236, 236);
    flex-direction: column;
    color: rgb(12,60,108);
    padding: 0 1rem;
}

.container h2 {
    padding: 3rem 0;
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.download h3 {
    margin: 1rem 0;
}

.download p {
    border-bottom: 0.1rem solid rgba(78, 76, 76, 0.377);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

@media screen and (min-width: 600px) {

    .container2 {
        display: flex;
        align-items: flex-start;
    }

    .download p {
        border: none;
    }
}
