.footer-background {
    background: #0d0e10;
    width: 100vw;
    position: relative;
    margin-top: 10px;
}

.footer {
    color: whitesmoke;
    width: 100vw;
    position: relative;
    padding: 30px;
}

.founders {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1rem;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav ul {
    font-size: 1rem;
}

.nav ul h3 {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}