.container {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
  transform: translateY(-0.1em);

  --fs-h1: clamp(2rem, 2rem + 3vw, 4rem);
  --fs-h2: clamp(1rem, 1.5rem + 1vw, 2.5rem);
  --fs-h3: clamp(1rem, 1.2rem + 1vw, 2rem);
  --fs-p: clamp(1rem, 1rem + 1vw, 1.5rem);
}

.container2 {
  width: clamp(10px, 100vw, 1440px);
}

/* FIRST SECTION */
.title {
  background-image: url("../../Images/first.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.144);
  padding-top: 1em;
}

.title div:first-child {
  color: #ffffff;
  padding: 0 1em;
}

.title h1 {
  margin-bottom: 0.2em;
  font-size: var(--fs-h1);
}

.title p {
  font-size: var(--fs-p);
}
.titleButton {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
}

.titleButton > :first-child {
  margin-bottom: 1em;
  width: max-content;
}

.titleButton > :nth-child(2) {
  width: max-content;
  margin-bottom: 1.5em;
}

@media (min-width: 65em) {
  .container {
    padding: 0 5em;
  }

  .title {
    height: 85vh;
    display: flex;
    align-items: center;
    gap: clamp(1em, 3rem, 292px);
    padding-top: 0;
    padding-left: clamp(1rem, 5rem, 109px);
  }

  .title > div:first-child {
    width: 32em;
  }

  .titleButton {
    align-items: center;
    flex-direction: column;
    gap: 0;
    padding-top: 4em;
  }
}

/* SECOND SECTION */
.secondTitle {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: white;
  padding: 1em;
}

.secondHeading {
  padding: 2em 0;
}

.secondHeading > p {
  font-size: var(--fs-p);
}

.secondTitle h2 {
  font-size: var(--fs-h2);
  line-height: 1em;
  padding-bottom: 1em;
}

.images {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.image img {
  margin-bottom: 2em;
}

.image > h3 {
  font-size: var(--fs-p);
}

@media (min-width: 30em) {
  .images {
    flex-direction: row;
  }
}

/* THIRD SECTIOn */
.thirdSection {
  color: white;
  padding: 1em;
}

.points {
  padding: 1em 0;
}

.point {
  display: flex;
  justify-content: center;
  align-items: center;
}

.point img {
  width: 3em;
  height: 3em;
}

.point > div {
  padding: 1em;
  width: 28em;
}

.point h3 {
  font-size: var(--fs-h3);
  color: #70ddff;
}

.point > div > p {
  font-size: var(--fs-p);
}

/* FOURTH SECTION */
.fourthSection {
  color: white;
  padding: 1em;
}

.fourthSection h2 {
  font-size: var(--fs-h2);
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.fourthSection span {
  line-height: 1.2em;
}

.fourthSection p {
  font-size: var(--fs-p);
  margin-bottom: 1em;
}

.fourthButton {
  display: flex;
  justify-content: center;
}

/* FIFTH SECTION */
.fifthSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../Images/start.png");
  background-position: center;
  height: 50vh;
  text-align: center;
  color: white;
  margin-bottom: 10em;
  padding: 0 rem;
}

.fifthSection h2 {
  font-size: var(--fs-h2);
  margin-bottom: 1em;
}
