.container {
  background-color: #1e1e1e;
  width: 1440px;
  color: white;
}

.first {
  display: flex;
}

.H2 {
  margin-left: 109px;
}

.H2 h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  width: 363px;
  margin-top: 163px;
}

.H2 p {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 53px;
  width: 400px;
}

.icons {
  display: flex;
  margin-top: 251px;
  margin-left: 100px;
  margin-bottom: 210px;
}

.icon {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 50px;
}

.icon img {
  max-width: 100px;
}

.icon p {
  font-size: 24px;
  line-height: 26px;
}

.second {
  display: flex;
  margin-bottom: 169px;
}

.girl {
  margin-left: 102px;
  margin-right: 104px;
}

.things h2 {
  font-size: 40px;
  line-height: 40px;
  width: 646px;
  margin-bottom: 40px;
}

.smallThing {
  display: flex;
  margin-bottom: 40px;
}

.smallThing img {
  width: 50px;
  height: 50px;
  align-self: center;
  margin-right: 34px;
}

.smallThing h3 {
  color: #70ddff;
  font-size: 32px;
  line-height: 54px;
  font-weight: 600;
}

.smallThing p {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 109px;
}

.third h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  display: flex;
  flex-direction: column;
}

.third p {
  width: 429px;
  font-size: 24px;
  line-height: 26px;
  margin-top: 47px;
  margin-bottom: 64px;
}

.third button {
  color: #70ddff;
  background: transparent;
  width: 215px;
  height: 54px;
  border: #70ddff solid 0.1rem;
  border-radius: 1.8rem;
  font-size: 16px;
  line-height: 18px;
}

.fourth {
  background: url("../../Images/start.png");
  height: 678px;
  margin-bottom: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth div {
  text-align: center;
}

.fourth h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

.fourth button {
  background-color: #70ddff;
  height: 54px;
  width: 215px;
  border: none;
  border-radius: 1.8rem;
  margin-top: 54px;
}
