.title {
  background-image: url("../../Images/first.png");
  background-color: rgb(44, 42, 42);
  width: 1440px;
  height: 665px;
  display: flex;
  align-items: center;
  padding-left: 109px;
  padding-right: 347px;
}

.drip {
  color: white;
}

.drip h1 {
  font-size: 54px;
  line-height: 54px;
}

.drip p {
  font-size: 24px;
  line-height: 25px;
}

.button button:first-child {
  background-color: #70ddff;
  height: 54px;
  width: 215px;
  border-radius: 1.6rem;
}

.button button:last-child {
  background-color: transparent;
  color: #70ddff;
  height: 54px;
  width: 215px;
  border-radius: 1.6rem;
  border: #70ddff solid 0.1rem;
  margin-top: 32px;
}
