.title {
  height: 50%;
  background-color: rgb(12, 60, 108);
  color: white;
  padding: 0 1rem;
}

.title h1 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding: 2rem 0;
}

.title p {
  font-size: 1.2rem;
  color: rgb(203, 208, 216);
  padding-bottom: 1rem;
}

.title .button {
  text-align: center;
  padding: 1rem 0;
  padding-bottom: 10rem;;
}

.title button {
  background-color: rgb(230, 48, 25);
  color: white;
  border: none;
  width: 100%;
  height: 2.5rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
  cursor: pointer;
}

/* check your area */
.check {
  padding: 0 1rem;
  margin: 3rem 0;
}

.check h2 {
  color: rgb(12, 60, 108);
  padding-bottom: 2rem;
  text-align: left;
}

.check form {
  display: flex;
}
.zipcode {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.zipcode label {
  color: green;
}

.zipcode input {
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.zipcode .bottom {
  border-top: 0.1rem solid green;
  margin-top: 0.5rem;
}

.submit {
  margin-left: 2rem;
  border: none;
  background-color: green;
  color: white;
  width: 4rem;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .button {
    width: 50%;
  }

  .check {
    text-align: left;
    margin: 0 5rem;
  }
}


